---
import '../style/index.css'

---
<main>
    <div class="container   py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class=" col-sm-12 col-lg-5">
                <img src="src/images/planet 1.png" class="d-block mx-lg-auto h-100 w-100" alt=""  loading="lazy">
            </div>
        <div class="col-lg-7">
        <h1 class=" fw-bold lh-1  letter letter-wide text-uppercase ">Dive into <span style="font-family: 'Inter';font-style: normal;font-size: 60px;line-height: 70px;letter-spacing: 0.265em;color: #AED9FB;">Astrology</span> </h1>
        <div class="subtitle spacing">Get insights into your future</div> 
        <img src="src/images/line.png" alt="">
        <p class="lead spacing">With the help of trusted and reknowned indian technologies combined with modern AI,  throughout your life , even in your deepest lows and highest highs. My Stars Talk is a platform for everyone from all walks of life to give their lives a path to follow.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn  button-gradient btn-lg  me-md-2">Get Started</button>
        </div>
        </div>
    </div>
  </div>
</main>
<style>

    .bg-primary{
        background-color: var(--color-bg)!important;
    }
    main{
    background-color: var(--color-bg)!important;
    color: white;
    font-family: 'Inter';
    font-weight: 300;
  }
  .letter-wide{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;
    letter-spacing: 0.79em;

    color: #FFFFFF;
  }
  .spacing{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
    opacity: 0.88;
  }
  .button-gradient{
    background: linear-gradient(90deg, #9DD6FE 16.89%, #CCE3FC 56.17%, #E0D8FC 95.44%);
    border-radius: 30px!important;
    color: black;
  }
</style>