---
import '../style/index.css'
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<title>{title}</title>
</head>
<body>
  <main>
    <div id="content" class="bg-accent ">
    <nav class=" navbar navbar-expand-lg container ">
      <div class="no-padding container-fluid">
        <img src="/logo.svg" alt=""/>

        <a class="navbar-brand text-white text-sm-screen-center logo-font text-uppercase lh-1" href="#">My <br> star <br> Talks</a>
        <button class="navbar-toggler" style="border:none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="filter:invert(1);border:none"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-end text-white" id="navbarNavAltMarkup">
            <div class="navbar-nav justify-content-end">
            <a class="nav-link " aria-current="page" href="#">Home</a>
            <a class="nav-link ">Blog</a>
            <a class="nav-link" href="#">About us</a>
            <a class="nav-link" href="#">Contact us</a>
            </div>
        </div>
      </div>
    </nav>
    
        
    
    </div>
</main>
	<slot />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem); 
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --color-text: hsl(0, 0%, 100%);
    --color-bg: #17191F;

    --color-accent:#4F6071;
  }
  .navbar-brand{
    margin-left: .5rem;
  }
  .logo-font{

  }
  .nav-link{
    color:white!important
  }
  .text-white{
    color: white !important;
  }
  html {
    font-family: Inter,sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg)!important;
  }
  body {
    margin: 0;
    font-family: Inter,sans-serif;
      
  }
  @media only screen and (max-width: 576px){
  .text-sm-screen-center{
    text-align: center;
  }
  
}
  ::-webkit-scrollbar-track{
    width:0px;
  }
  header{
    background-color: var(--color-bg)!important;
  }
  :global(.bg-primary){
    background-color: var(--color-bg);

  }
  :global(h1) {
    font-size: var(--font-size-xl);
  }
  :global(h2) {
    font-size: var(--font-size-lg);
  }
  :global(p){
    font-family: var();
  }
  :global(code) {
    font-family: Inter, monospace;
  }
  .text-black{
    color:black;
  }
  .no-padding{
    padding: 0!important;;
  }
</style>